html {
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 12px;
}

::webkit-scrollbar-thumb {
	background-color: #444;
	border-radius: 6px;
	border: 3px solid ;
	background-clip: content-box;
}

::webkit-scrollbar-thumb:cover {
	background-color: #666;
}

/*
body {
	margin: 0;
	min-height: 100vh;
	background: linear-gradient(90deg,rgba(214, 244, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 227, 251, 1) 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
*/

.gradient-navbar {
	position: relative;
}

.gradient-navbar::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6px;
	background: linear-gradient(
		90deg,
		#FFC9F8, #C7F0FF, #FFDBA1,
		#FFC9F8, #C7F0FF, #FFDBA1,
		#FFC9F8, #C7F0FF, #FFDBA1,
		#FFC9F8, #C7F0FF, #FFDBA1  /* duplicated sequence for a smoother loop */
	);
	background-size: 600% 100%;
	animation: pastelFlow 8s linear infinite;
	border-radius: 0 0 4px 4px;
	z-index: 10;
}

@keyframes pastelFlow {
	0% { background-position: 0% 0%; }
	100% { background-position: 100% 0%; }
}

.card:hover .card-img-overlay {
	opacity: 1 !important;
	transition: opacity 0.3s ease-in-out;
}

.blue-text .nav-link {
	color: #5db8f5 !important;
}

.pink-text .nav-link:hover {
	color: #f589ec !important;
}

.bolder-font .nav-link {
	font-weight: 500 !important;
}

.logo-border {
	border: 3.25px solid #FFD700;
	border-radius: 50%;
	padding: 2px;
}

.shadow-border {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rounded-small {
	border-radius: 16px !important;
}

.rounded-medium {
	border-radius: 16px !important;
}

.rounded-large {
	border-radius: 40px !important;
}

.nav-item.dropdown:hover .dropdown-menu {
	display: block !important;
	margin-top:0;
}
.navbar-item.dropdown {
	position: relative;
}

.dropdown-menu {
	transition: all 0.2s ease-in-out !important;
}

.dropdown-menu.dropdown-center {
	left: 50% !important;
	transform: translateX(-50%);
	right: auto !important;
}

.no-arrow::after {
	display: none !important;
}

.model-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Adjust 100px to match your navbar's actual height */
}

.model-viewer-square {
  width: calc(100vh - 100px);
  height: calc(100vh - 100px);
  max-width: 60vw;
  max-height: 60vw;
}
